html{
    background-color: #fff605;
}
.workheader{
    height: 90px;
    font-size: 80px;
    margin: 30px auto;
    width: 250px;
    background-color: #061221;
    z-index: 1 ;
    top:5px;
    left:40%;
    font-weight: 900;
    color: #f92f94;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
}
article{
    width: 80%;
    margin: auto;
    
    background-color: #021109;
}
.img05{
width: 600px;
display: inline-block;
}
.img06{
    width: 600px;
    display: inline-block;
}
.img07{
    width: 600px;
    display: inline-block;
}
.img11{
    width: 600px;
    display: inline-block;
}