html{
    background-color:#020311;
}
.mylink{
    cursor: pointer;
}
header{

}
.sty{
    font-size: 80px;
    
}
.b{
    color: #f92f94;
    position: absolute;
    left: 10%;
    top:3%;
}
.o{
    color: #fff605;
    position: absolute;
    left: 11%;
    top:10%;
}
.n{
    color: #00ff37;
    position: absolute;
    left: 12%;
    top:17%;
}
.u{
    color: #19fbff;
    position: absolute;
    left: 13%;
    top:24%;
}
.s{
    color: #7704d6;
    position: absolute;
    left: 14%;
    top:31%
}
.atc{
    position: absolute;
top:100px;
left: 500px;
    font-size: 40px;
    font-weight: 900;
    color: #e4f7be;
}
.posa{
    position: absolute;
   
    background-color: #e4f7be;
}
.start{
    position: absolute;
    left: 500px;
    top:300px;
    height: 20px;
    width: 20px;
    background-color:#00ff37 ;
    border-radius: 10px;
}
.a1{
    left: 500px;
    top:300px;
    width: 120px;height: 20px;
    display: none;
}
.a2{left: 600px;top:300px;
    width: 20px; height: 60px;
    display: none;
}
.a3{
    left: 540px;top:270px;
    width: 20px; height: 90px;display: none;
}
.a4{
    left: 480px;top:340px;
    height: 20px;width: 160px;display: none;
}
.a5{
    left: 520px; top:370px;display: none;
    width: 20px; height:  50px;
}
.a6{
    left: 520px; top:370px;display: none;
    height: 20px; width: 80px;
}
.a7{
    left: 580px; top:370px;
    width: 20px; height: 50px;display: none;
}
.a8{
    left: 520px; top:410px;
    height: 20px;width: 80px;display: none;
}
.a9{
    left: 520px; top:450px;
    height: 20px; width: 80px; display: none;
}

.a10{
    width: 20px;
    height: 60px;display: none;
    left: 500px;
    top: 450px;
    transform:skewX(-20deg);
}
.a11{
    height: 20px;width: 130px;display: none;
    left: 490px; top:500px;
}
.a12{
    width: 20px;height: 110px;display: none;
    left: 560px;top:450px;
}
.a13{
    height: 20px ;width: 130px;display: none;
    left: 660px; top:300px;
    transform:skewY(-20deg);
}
.a14{
    width: 20px;height: 60px;display: none;
    left: 660px;top:360px;
    transform:skewX(30deg);
}
.a15{
    width: 20px;height: 60px;display: none;
    left: 710px;top:360px;
    transform:skewX(20deg);
}
.a16{
    width: 20px;height: 70px;
    left: 780px;top:350px;display: none;
    transform:skewX(-40deg);
}
.a17{
    height: 20px; width: 60px;
    left: 640px; top:440px;display: none;
    transform:skewY(-20deg)
}
.a18{
    width: 20px;height: 100px;
    left: 640px; top:460px;display: none;
}
.a19{
    height: 20px; width: 50px;
    left: 640px; top:500px;display: none;
}
.a20{
    height: 20px;width: 60px;
    left: 740px; top:440px;display: none;
}
.a21{
    width: 20px;height: 120px;display: none;
    left: 780px; top:440px;
}
.a22{
    width: 40px;height: 20px;display: none;
    top:500px; left:740px;
}
.a23{
    height: 20px;width: 160px;display: none;
    top:550px;left: 640px;
}
.X{position: absolute;
    top:300px;left: 1000px;
    height: 33px;width: 33px;
    background-color: red;
    font-size: 30px;
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    display: none;
    line-height: 33px;
}